{% load static %}
<footer id="contatos">
          <div class="logo-footer">
          <h1 class="logo-r">Braidsnayy</h1>
          <p style="color: white;">Site feito em Django</p>
          </div>
          <div class="midias">
              <a href="https://www.linkedin.com/in/nayra-kethillyn-da-costa-dantas-05a335253/?trk=opento_sprofile_details
              "><img src="{% static 'imgs/linkedin.png' %}" alt=""></a>
              <a href="#"><img src="{% static 'imgs/whatsapp.png' %}" alt=""></a>
              <a href="https://github.com/Nayyra "><img src="{% static 'imgs/github.png' %}" alt=""></a>
          </div>
          <b style="color: white;">© direitos reservados\
              Nayra Kethillyn
          </b>
      </footer>